// Small Mobiles
@media screen and (min-width: 320px) {

    .search-input {
        font-size: 1rem;
        padding: 10px 25px;
    }

    .nav {
        &-menu {
            visibility: hidden;
            position: absolute;
            top: 82px;
            right: 0;
            /* transform: translate3d(100%, 0, 0); */
            background: #fff;
            border-radius: 5px;
            /* @include transition; */
            @include boxShadow;
            z-index: 2;

            &.show {
                visibility: visible;
                transform: translate3d(0, 0, 0);
                @include transition;   
            }
        }

        &-item {
            margin: 10px;
            font-size: 1rem;
            padding: 10px 100px 10px 20px;
            cursor: pointer;

            &:hover {
                background: #eee;
                border-radius: 3px;

                .nav-link {
                    color: $primary-color;
                }
            }
        }

        &-line {
            opacity: 0.2;
        }
        &-btn {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
            @include transition;

            .btn-line {
                height: 4px;
                width: 30px;
                background: $text-color;
                margin-bottom: 5px;
            }

            &.close {  
                transform: rotate(90deg);
                @include transition;

                .btn-line {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(7px, 7px);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    .movie {
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;

        &-poster {
            width: 100%;
            margin: 5px 0;
            border-radius: 5px;
            @include boxShadow;
        }

        &-item {
            margin: 5px 0;

            h2 {
                margin-top: 20px;
            }

            hr {
                border: 0.5px solid #ddd;
                margin: 15px 0;
            }

            li {
                margin-bottom: 5px;
            }
            
        }

        &-plot {
            font-style: italic;
        } 
    }
}

@media screen and (min-width: 375px) {

    .search-input {
        font-size: 1.3rem;
        padding: 10px 35px;
    }
    
}

// Small laptops and tablets

@media screen and (min-width: 768px) {

    .search-input {
        font-size: 1.3rem;
        padding: 10px 80px;
    }

    .nav-btn {
        display: none;
    }

    .nav-menu {
        visibility: visible;
        position: unset;
        background: none;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-item {
            margin: 0 20px;
            padding: 10px;
            background: none;
        }
    }

    .movie {
        display: grid;
        grid-template: 1fr / 1fr 1fr;

        &-poster {
            grid-area: 1 / 1 / 2 / 2;
        }

        &-item {
            grid-area: 1 / 2 / 2 / 3; 
            padding: 0px 40px;

            &.rate-fav {
                justify-content: flex-start;

                .movie-rating {
                    margin-right: 20px;
                }
            }
        }
    }
}