@import 'reset';
@import 'config';
@import 'responsive';

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: $primary-color;
    }
}

body {
    font-family: $font-family;
    color: $text-color;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    background: #fff;
    @include boxShadow;
}

.main {

    padding-bottom: 50px;

    .search {
        position: sticky;
        top: 0;
        padding: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px; 
    
        &-bar {
            border: 1px solid #ddd;
            border-radius: 5px;
            display: flex;  
            justify-content: space-around;
            align-items: center;
            background: #fff;
            border-style: none;
            @include boxShadow;

            .search-input {
                border-style: none;
            }

            .search-icon {
                margin: 0 5px;
                padding: 0 15px;
                font-size: 1.2rem;
                color: $primary-color;
                border-right: 1px solid #ddd;
                cursor: pointer;

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }

    .movie {
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;

        &-item {
            margin: 5px 0;

            &.rate-fav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 15px;
            }

            h2 {
                margin-top: 5px;
            }

            hr {
                margin: 10px 0;
            }
            
        }

        &-poster {
            width: 100%;
            border-radius: 5px;
        }

        &-rating {
            color: $accent-color;
        }

        .fav-btn {
            padding: 10px 8px;
            font-size: 0.8rem;
            color: $primary-color;
            background: #fff;
            border: 1px solid $primary-color;
            border-radius: 5px;
            cursor: pointer;
        }

        &-plot {
            font-style: italic;
        }
    }
}